#cloud-config
hostname: ${hostname}
fqdn: ${hostname}
manage_etc_hosts: true
users:
  - name: admin
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: wheel
    home: /home/admin
    shell: /bin/bash
    lock_passwd: false
    passwd: $6$12345678$lM/TzHvzTMH1nfJKhjTdUiYyosg/9rdesqA/7XxACDHjG2yjgu9hTqUB87uve1KwnLfBZcyGbHFhTYrh/fLvQ.
    ssh-authorized-keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDOAEf3Rxa4uN5gir3oXNHzg1jri6n5JZU27zkQBa8BNY4/BjDAKXMer2S0hFHMF0q5DUQspv5He5/Sk377ZKeT5d4toJYIlaIKHI+eUdrylS8xTzlVU5FDL7LIINxQUr/unPLxAbiaaeqUxBeFBTtsZADSA77h5/cqttDv8GMVnjSAisqK7HPZvsWTI8jaxtffcuH256PojIl3OtTOUNs89/oARi6M8Wy5RRemKQvO3gJe6+abwP4gqWmDSbRMttmsUSVTpNOnvUJYEXkhTbzkT3sVDwq7KBOFIx23r3hiVsmW6QxJMN4DCmtFunftadlx5rbFstmEJcrQDsU7i+bXVbWMEz7Icj1uqwGJNCFrsGUTo5PPudBpB49z5BimcEMhVDfFpjJIuBdcUPzUfdaa2uGxvUbjORCIzPOO650mw1JO8mPGCJBVdbHlebY5mWmAcbtePh25WaZqUIGj9WDbdtjFfZexqVRFlPOCmIseihvklZz7nceukLMVXpJtIQU=

ssh_pwauth: false
disable_root: true

system_info:
  network:
    renderers: ['network-manager']
    activators: ['network-manager']

write_files:
  %{ if use_proxy }
  - path: /etc/yum.conf
    permissions: 0640
    owner: root
    content: |
      [main]
      gpgcheck=1
      installonly_limit=3
      clean_requirements_on_remove=True
      best=True
      skip_if_unavailable=False
      proxy=${proxy_scheme}://${proxy_ipaddr}:${proxy_port}
  %{ endif }

package_update: true
package_reboot_if_required: true
packages:
  - qemu-guest-agent
runcmd:
  - [systemctl, daemon-reload]
  - [systemctl, enable, qemu-guest-agent.service]
  - [systemctl, start, qemu-guest-agent]

ntp:
  enabled: true
  ntp_client: chrony
  servers: [0.gr.pool.ntp.org, 1.ubuntu.gr.pool.ntp.org, 2.gr.pool.ntp.org, 3.gr.pool.ntp.org]

# written to /var/log/cloud-init-output.log
final_message: "The system is finally up, after $UPTIME seconds" 